.postcard-wrapper {
  display: flex;
  justify-content: space-between;
  padding-right: 3rem;
  margin-bottom: 0.5rem;
  background-color: #fbfbfb;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 5px 3px 3px rgb(0 0 0 / 30%), 0 1px 2px 0 rgb(0 0 0 / 6%);
  width: 90%;
  font-family: "Roboto", sans-serif;
}

.fa-thumbs-up {
  color: green;
  margin-right: 0.5rem;
  cursor: pointer;
}

.fa-thumbs-down {
  color: red;
  margin-left: 0.5rem;
  cursor: pointer;
}

.postcard-description {
  color: grey;
}

.postcard-title {
  font-weight: bolder;
  color: black;
}

.postcard-link {
  text-decoration: none;
}
